@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  /* Font Family */
  --font-family: "Nunito", sans-serif;
  /* Colours */
  --dark-blue: #283149;
  --blue-gray: #404B69;
  --cyan: #00818A;
  --light-blue: #DBEDF3;
  /* Box Shadow */
  --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

body {
  font-family: var(--font-family);
  background-color: var(--light-blue) !important;
  overflow-x: hidden;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 8px
}

::-webkit-scrollbar-track {
  background: var(--light-blue);
  border-radius: 5px
}

::-webkit-scrollbar-thumb {
  background: var(--blue-gray);
  border-radius: 5px
}

input[type="text"]::-webkit-calendar-picker-indicator {
  display: none !important;
}

/* Job offer description and blog content styles */
.job-description,
.blog-content {
  line-height: 1.6;
}

.job-description h1,
.blog-content h1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.job-description h2,
.blog-content h2 {
  font-size: 1.085rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.job-description ul,
.blog-content ul {
  margin-left: 30px;
}

.blog-content p {
  text-align: justify;
}

.left-border-animation>.chakra-text {
  position: relative;
  padding-left: 1rem;
}

.left-border-animation>.chakra-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background: blue;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.4s ease;
}

.left-border-animation>.chakra-text.active::before,
.left-border-animation>.chakra-text:hover::before {
  transform: scaleY(1);
}

/* Scroll bar job offers */

.job-listing {
  overflow-y: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.job-listing::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

/* Job details */
.requirement-tooltip::first-letter {
  text-transform: capitalize;
}